@mixin button {
    width: 370px;
    height: 86px;
    background-color: $main-color;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}